
@{
    ViewBag.Title = "Index";
}

<div style="height: 672px; width: 1224px">
    <br />
    <div id="page">
        <div class="container">
            <div class="row">
                <div class="6u skel-cell-important">
                    <section id="content">
                        <header>
                            <h2 style="height: 73px; width: 604px">BookTeeTimeReservation</h2>
                        </header>
                    </section>
                </div>

            </div>

        </div>
    </div>

    <form id="frmBookTeeTimeReservation" name="frmBookTeeTimeReservation">
        <table style="height:398px;width:799px;">
            <tr>
                <td><input type="button" onclick="location.href='@Url.Action("Logout","LogIn")'" name="ctl00$ContentPlaceHolder1$SignOut" value="Sign Out" id="ContentPlaceHolder1_SignOut" /></td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                Date:
                            </td>
                            <td>
                                <input name="Date" class="required" type="date" id="Date" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Time:
                            </td>
                            <td>
                                Hour: <select name="Hour" id="Hour" class="required">
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>


                                </select>
                                Minute:<select name="Minute" id="Minute" class="required">
                                    <option value="00">00</option>
                                    <option value="07">07</option>
                                    <option value="15">15</option>
                                    <option value="22">22</option>
                                    <option value="30">30</option>
                                    <option value="37">37</option>
                                    <option value="45">45</option>
                                    <option value="52">52</option>

                                </select>
                                AMorPM <select class="required" name="AMorPM" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ContentPlaceHolder1$AMorPM\&#39;,\&#39;\&#39;)&#39;, 0)" id="AMorPM">
                                    <option selected="selected" value="AM">AM</option>
                                    <option value="PM">PM</option>

                                </select><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Number of Players:
                            </td>
                            <td>
                                <table id="NumberOfPlayers">
                                    <tr>
                                        <td><input id="NumberOfPlayers_0" type="radio" name="NumberOfPlayers" value="1" checked="checked" /><label for="ContentPlaceHolder1_NumberOfPlayers_0">1</label></td>
                                        <td><input id="NumberOfPlayers_1" type="radio" name="NumberOfPlayers" value="2" /><label for="NumberOfPlayers_1">2</label></td>
                                        <td><input id="NumberOfPlayers_2" type="radio" name="NumberOfPlayers" value="3" /><label for="NumberOfPlayers_2">3</label></td>
                                        <td><input id="NumberOfPlayers_3" type="radio" name="NumberOfPlayers" value="4" /><label for="NumberOfPlayers_3">4</label></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MemberName2:
                            </td>
                            <td>
                                <input name="MemberName2" type="text" autocomplete="off" id="MemberName2" disabled="disabled" class="required" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MemberName3:
                            </td>
                            <td>
                                <input name="MemberName3" type="text" autocomplete="off" id="MemberName3" disabled="disabled" class="required" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                MemberName4:
                            </td>
                            <td>
                                <input name="MemberName4" type="text" autocomplete="off" id="MemberName4" disabled="disabled" class="required" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Number Of Carts:
                            </td>
                            <td>
                                <input name="NumberOfCarts" type="number" id="NumberOfCarts" class="required" /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PhoneNumber:
                            </td>
                            <td>
                                <input name="PhoneNumber" type="text" autocomplete="off" id="PhoneNumber" class="required" /><br />
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <input name="ViewTeeTimeBox" type="date" id="ViewTeeTimeBox" />
                    <input type="button" name="DisplayTeeTime" value="Display Tee Times" id="DisplayTeeTime" />
                    <div style="height:350px; width:auto; overflow:auto;">
                        <table class="table table-bordered table-condensed table-hover table-striped" id="TeeTimesTable">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>MemberName1</th>
                                    <th>MemberName2</th>
                                    <th>MemberName3</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyDisplayTee"></tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <input type="button" name="BookTeeTime" value="Book Tee Time" id="btnBookTeeTime" /><br /><br />
        <span id="Message" style="color:Red;"></span><br /><br />
    </form>
</div>

<script src="~/Scripts/Custom/BookTeeTimeReservation.js"></script>